/* General Styling */
body {
  background: #00203FFF;
  color: #ADEFD1FF;
  font-family: 'Oswald', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.quatt {
  font-family: 'Quattrocento', serif;
}

/* App Styling */

.movie-app .row {
  overflow-x: auto;
  overflow-y: clip;
}

.movie-app .movies .image-container {
  flex: 1 1 auto;
  max-width: fit-content;
}


/* Movie Card Styling */

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container img {
  cursor: default;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: black;
  width: 50%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.myPlot {
  bottom: 0;
  margin-bottom: 85px;
}

.info-overlay {
  margin-top: 200px;
}

.infoList span {
  color: #ADEFD1FF;
}

.row>* {
  padding: 0px;
}

#root hr {
  height: 6px;
  margin-left: 20px;
  margin-right: 24px;
  opacity: 70%;
}

svg {
  padding-top: 2px;
}

svg:hover {
  fill: rgb(254, 102, 102);
  transition: 0.2s;
}

.svgBig {
  size: 120%;
  transition: 0.2s;
}

.myInfo:hover {
  color:rgb(255, 255, 255);
  transition: 0.2s;
}


/*  Popup Styling */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Footer Styling */

footer {
  color:rgba(173, 239, 209, 0.635);
}