/* General Styling */
body {
  background: #00203FFF;
  color: #ADEFD1FF;
  font-family: 'Oswald', sans-serif;
  -webkit-animation: fadeIn 1.8s;
  animation: fadeIn 1.8s
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.quatt {
  font-family: 'Quattrocento', serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.9rem;
  margin: 15px 12px 15px 10px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

/* Nav Styling */

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
}

.nav-links {
  width: 50%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 6rem;
  font-size: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.nav-links a:hover {
  color: rgb(216, 236, 227);
}

#root .active {
  color: white;
}

form { 
  display: flex;
  background: white;
  border-radius: 8px;
  padding: 2px;
  padding-right:8px;
}

.form-control {
  border: none;
}

.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

form button {
  background: none;
  border: none;
  font-size: 1.3rem;
  font-family: inherit;
  color: grey;
}

.filterButtons button {
  background: none;
  border: none;
  font-size: 1.7rem;
  font-family: inherit;
  color: rgba(173, 239, 209, 0.766);
}

.filterButtons button:hover {
  color: rgb(196, 196, 196);
}

.filterButtons h2 {
  margin: 0px 5px;
}

/* App Styling */

.movie-app .row {
  overflow-x: auto;
  overflow-y: clip;
}

.movie-app .movies .image-container {
  max-width: fit-content;
}

/* Header Styling */

.myButton {
  color: #ADEFD1FF;
  background: none;
  border: none;
  margin-right: 38px;
}

.myButton:hover {
  color: rgb(227, 245, 236);
}

.myButtonActive {
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  margin-right: 38px;
  text-decoration: underline;
}

/* Movie Card Styling */

.image-container {
  position: relative;
  transition: transform 0.2s;
}

#root .movies {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

.image-container img {
  cursor: default;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: black;
  width: 200px;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  text-align: center;
}

.myVideo {
  margin-bottom: 30px;
}

.movies-list {
  padding-left: 20px;
}

.movies-list .row>* {
  padding: 0px;
  width: auto;
}

.myInfo:hover {
  color:rgb(255, 255, 255);
  transition: 0.2s;
}

.heart {
  color: red;
  transition: 0.5s ease;
}

.bi-suit-heart-fill {
  animation: fadeIn 0.2s
}

.myIcon {
  font-size: 1.8rem;
}

.myIcon:hover  {
  color: rgb(254, 102, 102);
  transition: 0.2s;
}

/* Popup container */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* Footer Styling */

.watchlist-empty {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 160px;
}

footer {
  text-align: center;
  color:rgba(173, 239, 209, 0.635);
  background: black;
  margin: 0px;
  padding: 30px 0px;
  margin-top: 37px;
}

footer h6 {
  font-size: 1.2rem;
  margin-top: 13px;
}

footer a {
  color: white;
  font-size: 2.2rem;
  padding: 0px 5px;
  margin-bottom: 10px;
}

footer a:hover {
  color:rgba(173, 239, 209, 0.635);
}


/* FUTURE USE */

 /* can add extra info on top of Card */

/* .popup .popuptext {
  visibility: hidden;
  font-size: 0.9rem;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  position: absolute;
  z-index: 1;
} */


/* Toggle this class when clicking on the popup container (hide and show the popup) */
/* .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
} */


/* Add animation (fade in the popup) */
/* @-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
} */
