/* General Styling */
body {
  background: #00203FFF;
  color: #ADEFD1FF;
  font-family: 'Oswald', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.quatt {
  font-family: 'Quattrocento', serif;
}

/* App Stlying */

.movie-app .row {
  overflow-x: auto;
  overflow-y: clip;
}

.movie-app .movies .image-container {
  flex: 1 1 auto;
  max-width: fit-content;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: black;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  /* bottom: 0; */
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.putToTop {
  top: 0;
}

.putToBottom {
  bottom: 0;
}


.overlay-top {
  position: absolute;
  background: black;
  width: 100%;
  transition: 0.5s ease;
  /* opacity: 0; */
  top: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.row>* {
  padding: 0px;
}

#root hr {
  height: 6px;
  margin-left: 20px;
  margin-right: 24px;
  opacity: 70%;
}



/* Plot Popup Style */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}